@import "tailwindcss";

body {
  font-family: "Poppins";
}

.flatpickr-wrapper {
    width: 100% !important;
}


/* Chrome, Edge, Safari */
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 9999px;
  background: white;
  border: 2px solid #3b82f6; /* blue-500 */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.15s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 9999px;
  background: white;
  border: 2px solid #3b82f6;
  cursor: pointer;
}

.ql-container {
  font-family: inherit;
  font-size: 14px;
}

.ql-toolbar {
  border-bottom: 1px solid #e5e7eb !important;
}

.ql-editor {
  min-height: 160px;
  line-height: 1.6;
}

.ql-editor.ql-blank::before {
  color: #9ca3af;
  font-style: normal;
}


.ck-content ul, 
.ck-content ol {
  padding-left: 30px !important;
}